/* Main CSS Here */

@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --background-color1: #fafaff;
  --background-color2: #f4f4f4;
  --background-color3: #ededed;
  --background-color4: #ffffff;
  --primary-color: #4b49ac;
  --secondary-color: #0c007d;
  --Border-color: #ffffff;
  --one-use-color: #3f0097;
  --two-use-color: #5500cb;
}
body {
  background-color: var(--background-color4);
  max-width: 100%;
  overflow-x: hidden;
}

header {
  height: 70px;
  width: 100vw;
  padding: 0 30px;
  background: linear-gradient(90deg, rgba(40,43,148,1) 0%, rgba(40,43,148,1) 35%, rgba(73,69,180,1) 100%);
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta{
    display: flex;
    align-items: center;
}

.logo {
  font-size: 27px;
  font-weight: 600;
  color: rgb(47, 141, 70);
}

.icn {
  height: 30px;
}
.menuicn {
  cursor: pointer;
}


.message,
.logosec {
  display: flex;
  align-items: center;
  justify-content: center;
}


.logosec {
  gap: 60px;
}

.dropdown-container {
    display: inline-block;
    padding: 10px;
}

.dropdown-container .dropdown {
    position: relative;
}

.dropdown-container .dropdown summary {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
}


.dropdown-container .dropdown summary .with-down-arrow {
    display: inline-flex;
    padding: 5px;
    align-items: center;
    color: #fff;
    line-height: 1;
    gap: 11px;
}

.dropdown-container .dropdown.left ul {
    left: 0;
}

.dropdown-container .dropdown ul li:first-of-type {
    border-radius: 10px 10px 0 0;
}


.dropdown-container .dropdown ul li:first-of-type {
    border: none;
   
}


.dropdown-container .dropdown ul li {
    list-style-type: none;
    display: block;
    /* border-top: 1px solid #ccc; */
}

.dropdown-container .dropdown summary .with-down-arrow::after {
    font-family: "FontAwesome";
    content: "\f107";
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.dropdown-container .dropdown ul {
    padding: 20px;
    margin: 0;
    box-shadow: 0 0 10px #00000030;
    position: absolute;
    top: 100%;
    border-radius: 10px;
    background-color: #fff;
    z-index: 2;
}

.message {
  position: relative;
  cursor: pointer;
  border-right: 2px solid #ffffff63;
    padding-top: 8px;
    padding-bottom: 8px;
}

.log-out span{
    color: white;
}

.log-out{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding-left: 22px;
}

.dp {
  height: 40px;
  width: 40px;
  background-color: #626262;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.main-container {
  display: flex;
  width: 100vw;
  position: relative;
  top: 70px;
  z-index: 1;
}
.dpicn {
  height: 42px;
}

.main {
  height: calc(100vh - 70px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px 30px 30px 30px;
}

.main-area{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 37px 59px 42px;
    border-radius: 8px;
}

.main-area p{
    font-weight: 500;
    font-size: 18px;
}

.main::-webkit-scrollbar-thumb {
  background-image: 
        linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}
.main::-webkit-scrollbar {
  width: 5px;
}
.main::-webkit-scrollbar-track {
  background-color: #9e9e9eb2;
}


.nav {
  min-height: 91vh;
  width: 250px;
  background-color: var(--background-color2);
  position: absolute;
  top: 0px;
  left: 00;
  box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 42px 0 20px 10px;
}
.navcontainer {
  height: calc(100vh - 70px);
  width: 250px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}
.navcontainer::-webkit-scrollbar {
  display: none;
}
.navclose {
  width: 80px;
}
.nav-option {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}
.nav-option:hover {
  border-left: 5px solid #a2a2a2;
  background-color: #dadada;
  cursor: pointer;
}
.nav-img {
  height: 30px;
}

.nav-upper-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.option1 {
  border-left: 5px solid #010058af;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--Border-color);
  color: white;
  cursor: pointer;
}
.option1:hover {
  border-left: 5px solid #010058af;
  background-color: var(--Border-color);
}

.option1 h3{
    color: black;
}

.box:hover {
  transform: scale(1.08);
}



.topic {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 1px;
}

.topic-heading {
  font-size: 30px;
  letter-spacing: 3px;
}


.box-container-set-1{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.box-container-set-2{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:0px;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-hearder{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #f7f7fe;
   
}

.logo-name{
    display: flex;
}
.card-logo-1{
    background-color: #d3f4e4;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 7px;
    padding-bottom: 0px;
}

.card-logo-2{
  background-color: #d6d7eb;
  padding-top: 6px;
  padding-left: 5px;
  padding-right: 7px;
  padding-bottom: 0px;
}

.card-header p{
    font-size: 20px;
    font-weight: 500;
    color:#000000a1;
}


.card-body p{
    font-size: 15px;
    font-weight: 400;
}

.card-body{
    display: flex;
  
    /* padding-left: 15px; */
    /* padding-right: 15px; */
}


.play{
    padding: 5px 14px 7px 13px;
    border: 1px solid;
    border-top:unset;
    border-left:unset;
    border-bottom:unset;
    border-right:3px solid #f7f7fe; 
}

.stop{
    padding: 5px 14px 7px 13px;
    border: 1px solid;
    border-top:unset;
    border-left:unset;
    border-bottom:unset;
    border-right:unset; 
}

.user p{
  padding-left: 10px;
}


.action p{
    margin-bottom: 22px;
    margin-top: 24px;
    text-wrap: nowrap;
    padding-left: 16px;
    padding-right: 5px;
    font-size: 14px;
}

.horizontal{
    border: 2px solid #f7f7fe;
    width: 123px;
}


.border-partation{
  border-right: 3px solid #f7f7fe;
}
/* .action{
    border-right: 3px solid #f7f7fe;
     padding-left: 6px;
    padding-right: 6px; 
} */

.action-btn{
    display: flex;
    justify-content:center;
}

.play-border{
    border: 2px solid #35cc87;
    padding: 0px 9px 0px 9px;
}

.stop-border{
    border: 2px solid #f43131;
    padding: 0px 9px 0px 9px;
}


.description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    /* padding-left: 3px;
    padding-right: 3px; */
}


.partation{
  border-top: 3px solid #f7f7fe;
  /* padding-top: 8px;
  padding-bottom: 10px; */
  display: flex;
    gap: 2px;
    justify-content: end;
}


.end-box-1{
  padding: 20px 24px 20px 24px;
}

.end-box-2{
  padding: 20px 24px 20px 24px;
}

.box-3{
  margin-top: 35px;
}

.box-4{
  margin-top: 35px;
}


.details{
  text-align: end;
}

.details a{
  text-decoration: none;
  color: black;
  text-align: end;
  padding-right: 18px;
}


.description p{
    font-size: 12px;
    padding: 13px;
    color: #7a7979;
}
.user{
    display: flex;
    align-items: center;
}

.user p{
  color: #7a7979;
}

.drop-nav p{
    font-size: 30px;
     color:#000000a1;
     
}

.drop-nav{
  font-size: 20px;
  color: #7a7979;
}

.drop-nav{
    padding-right: 12px;
}


.end-box-1{
  border-left: 3px solid #f7f7fe;
  border-right: 3px solid #f7f7fe;
}

.dropdown{
  display: flex;
    justify-content: center;
    align-items: center;
}

.main-dess{
  padding-bottom: 26px;
  border-left: 3px solid #f7f7fe;
}

.main-dess-1{
  padding-bottom: 25px;
  border-left: 3px solid #f7f7fe;
}


.progress{
  display: flex;
    gap: 24px;
    align-items: center;
}

progress::-webkit-progress-bar {
  background-color: #eee;
}

progress::-webkit-progress-value {
  background-color: #35cc87; 
}


progress::-moz-progress-bar {
  background-color: #35cc87; 
}


.progress-col {
  background-color: #35cc87; 
  border-radius: 20px;
  transition: width 0.3s ease; 
  height: 7px;
}

.progress-bar{
  display: flex;
    align-items: center;
    gap: 7px;
}

.progress-bar p{
  font-size: 14px;
  color: #7a7979;
}

.packages-download span{
  color: #7a7979;
  font-size: 15px;
}

.packages-download p{
  font-size: 15px;
}

.progress{
  padding: 7px;
  border-top: 3px solid #f7f7fe;
  border-bottom: 3px solid #f7f7fe;
}

.stop-play{
  display: flex;
}

.btn-groups{
  display: flex;
  justify-content: space-between;
}

.empty-div{
  display:flex ;
}





.dropdown-container .dropdown summary .three-dots::after {
  font-family: "FontAwesome";
  content: "\f141";
  color: #7a7979;
  font-weight: normal;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}



.main-heading{
  padding-bottom: 40px;
}

.option-name p{
  font-size: 13px;
}

.share-project{
  display: flex;
  gap: 12px;
  align-items: center;
  align-self: center;
}



.user-profile{
  display: flex;
  gap: 7px;
}

.user-desc p{
  text-wrap: nowrap;
}
.icon{
  background-color: #dad9f1;
  padding:2px 9px 1px 7px;
border-radius: 4px;
}


.icon-1{
  background-color: #fed6d7;
  padding:2px 9px 1px 7px;
border-radius: 4px;
}

.icon-2{
  background-color: #d2f4e4;
  padding:2px 9px 1px 7px;
border-radius: 4px;
}
.project-name p{
  font-size: 13px;
  text-wrap: nowrap;
}

details li{
  margin-bottom: 5px;
}

.hamburger{
  display: none;
}


.hamburger i{
  font-size: 25px;
}


.outer-box{
  padding: 24px;
    background: #ededed47;
}


